<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <h1 th:text="${welcomeText}"></h1>
    <p th:text="${greeting}"></p>
    <img th:src="@{/images/TacoCloud.jpeg}"/>

    <form method="POST" th:object="${taco}">
        <div class="grid">
            <div class="ingredient-group" id="wraps">
                <h3>Pick your wrap:</h3>
                <div th:each="ingredient : ${wrap}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}"></span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="protein">
                <h3>Pick your protein:</h3>
                <div th:each="ingredient : ${protein}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}"></span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="veggies">
                <h3>Pick your veggies:</h3>
                <div th:each="ingredient : ${veggies}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}"></span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="cheese">
                <h3>Pick your cheese:</h3>
                <div th:each="ingredient : ${cheese}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}"></span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="sauce">
                <h3>Pick your sauce:</h3>
                <div th:each="ingredient : ${sauce}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}"></span><br/>
                </div>
            </div>
        </div>

        <div>
            <h3>Name your taco creation:</h3>
            <input type="text" th:field="*{name}" />
            <br/>

            <button>Submit your taco</button>
        </div>

    </form>
</body>
</html>